//Colores principales del logotipo
$color-primary: #5b7c5d; 
$color-secondary: #a65d4a; 
$color-dark: #4d3423;

//Colores fuentes y fondo
$color-light: #f8f4ed; 
$color-white: #ffffff; 
$color-dark-text: rgb(107, 92, 76);
$brand-beige-dark:  rgb(239, 227, 203);
$brand-border: #e0d8c3; 
$brand-beige-light: antiquewhite;